#library {
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2px;
}
.game {
  width: 100px;
  display: inline-block;
}
img {
  width: 90px;
  height: 120px;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
}
button {
  margin: 10px 0;
}
#select-genre {
  width: 200px;
  display: inline-block;
  float: right;
  margin: 10px 0;
  height: 23px;
}
.transition {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
       -o-transform: scale(1.5);
}

